body {  
    font-family: 'PT Sans Narrow', sans-serif;
    height: 10000px;
    }
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    }
#wrap {
    overflow: hidden;
}
.relative {
    position: relative;
}
.ff-dancing {
    font-family: 'Dancing Script', cursive;
}
.ff-lato{
    font-family: 'Lato', sans-serif;
}
.ff-mrs{
    font-family: 'Mrs Saint Delafield', cursive;
}
/*-------------------------------
            header
-------------------------------*/
.navbar{
    position: absolute;
    top: 0px;
    z-index: 10;
    font-weight: bold;
  }
  .navbar ul li a{
    color: #ffffff;
  }
  .dropdown-menu {
    color: black;
    background-color: gray;
  }
/*-------------------------------
            top
-------------------------------*/
/*-------   carousel   -------*/
/*  カルーセルの高さ  */
#top .carousel-item {
    height: 100vh;
}
.carousel-1{
    background-image: url(./images/carousel_1_1920.jpg);
}
.carousel-2{
    background-image: url(./images/carousel_2_1920.jpg);
}
.carousel-3{
    background-image: url(./images/carousel_3_1920.jpg);
}
.carousel-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  .carousel-style::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
  /* カルーセルテキストスタイル　*/
.carousel-caption {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fs-carousel-text1{
    font-size: 70px;
    margin-bottom:30px;
}
.fs-carousel-text2{
    font-size: 60px;
    margin-bottom:40px;
}
.carousel-button-style {
    display: inline-block;
    font-size: 12pt; /* 文字サイズ */
    text-align: center; /* 文字位置   */
    cursor: pointer; /* カーソル   */
    padding: 14px 42px; /* 余白       */
    background: none; /* 背景色     */
    color: #ffffff; /* 文字色     */
    line-height: 1em; /* 1行の高さ  */
    transition: 0.3s; /* なめらか変化 */
    border: 2px solid white; /* 枠の指定 */
    letter-spacing: 10px;
  }
  .carousel-button-style:hover {
    color: #ffffff; /* 背景色     */
    background: red; /* 文字色     */
    border: 2px solid red; /* 枠の指定 */
  }
/*-------------------------------
            ourstory
-------------------------------*/
.backimg-ourstory{
    background-image: url(./images/backimg_ourstory_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.fs-ourstory1{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 80px;
    color: red;
}
.big-text{
    font-size:80px;
    font-weight: 700;
    float:left;
    margin-bottom: -20px;
    margin-right: 10px;
    line-height: 1;
}
.fs-outstory2 {
    font-size:15px;
    color: #4a4d4f;
}
.fs-ourstory3{
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 80px;
}

/*-------------------------------
            special
-------------------------------*/
#special{
    height: 900px;
}
.special-img{
    background-image: url(./images/backimg_special.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gray-backimg {
    background-color: rgba(0, 0, 0, 0.6);
    height: 900px;
  }
.fs-title{
    color: #ca3d26;
    font-size: 60px;
    letter-spacing: 2px;
}
.line-red{
    background-color: #ca3d26;
    height: 4px;
    width: 5%;
    margin: 0 auto;
}
.owl-item {
    opacity: 0.3;
    transition: 1s ease-out;
  }
  .owl-item.center {
    opacity: 1;
  }
  
  .owl-next {
    margin: 0 100px !important;
  }
  .owl-prev {
    margin: 0 100px !important;
  }
  .owl-item {
    opacity: 0.3;
    transition: 1s ease-out;
  
    &.center {
      opacity: 1;
    }
  }
  
  .owl {
    &-next {
      margin: 0 100px !important;
    }
    &-prev {
      margin: 0 100px !important;
    }
  }

.owl-carousel .owl-item img{
    margin: 0 auto;
}
.sp-details{
    border-radius: 2px;
    background-color: white;

    margin-top: -100px;

    position: absolute;
    top: 50%;
    right: 0;
    padding: 30px 30px 0px 30px;
    width: 40%;
}
.sp-button-style {
    display: inline-block;
    font-size: 5pt; /* 文字サイズ */
    text-align: center; /* 文字位置   */
    cursor: pointer; /* カーソル   */
    padding: 8px 12px; /* 余白       */
    background: none; /* 背景色     */
    color: red; /* 文字色     */
    line-height: 1em; /* 1行の高さ  */
    transition: 0.3s; /* なめらか変化 */
    border: 2px solid red; /* 枠の指定 */
    letter-spacing: 5px;
    margin-bottom:20px;
  }
  .carousel-button-style:hover {
    color: #ffffff; /* 背景色     */
    background: red; /* 文字色     */
    border: 2px solid red; /* 枠の指定 */
  }

/*-------------------------------
            today's menu
-------------------------------*/
  .todaysmenu-icon{
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }
