body {  
    font-family: 'Montserrat', sans-serif;
    height: 10000px;
    }
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
li {
    list-style: none;
    }
#wrap {
    overflow: hidden;
}
.relative {
    position: relative;
}
/*-------------------------------
            header
-------------------------------*/
.navbar{
    position: absolute;
    top: 0px;
    z-index: 10;
    font-weight: bold;
  }
  .navbar ul li a{
    color: #ffffff;
  }
  .dropdown-menu {
    color: black;
    background-color: gray;
  }
/*-------------------------------
            top
-------------------------------*/
/*-------   carousel   -------*/
/*  カルーセルの高さ  */
#top .carousel-item {
    height: 100vh;
}
.carousel-1{
    background-image: url(./images/carousel_1_test.jpg);
}
.carousel-2{
    background-image: url(./images/carousel_1.jpg);
}
.carousel-3{
    background-image: url(./images/carousel_3.jpg);
}
.carousel-style {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  .carousel-style::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
  /* カルーセルテキストスタイル　*/
.carousel-caption {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fs-carousel-text2{
    font-size: 80px;
}
/*-------------------------------
            ourstory
-------------------------------*/
.backimg-ourstory{
    
}
.fs-ourstory1{
    margin-top: 150px;
    margin-bottom: 100px;
}
.fs-outstory2 {

}
.fs-ourstory3{
    margin-top: 100px;
    margin-bottom: 150px;
}
/*-------------------------------
            special
-------------------------------*/
.gray-backimg {
    background-color: rgba(0, 0, 0, 0.4);
    height: 600px;
  }
.special-img-small1{
    width:400px;
}